name: Trigger projects
on: 
  push: 
  workflow_dispatch:
  repository_dispatch:
  schedule:
    - cron: "28 */4 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Trigger commits
      env:
        PAT: ${{ secrets.PAT }}
      run: |
        pip3 install -U pip setuptools 
        pip3 install -r requirements.txt
        python3 scripts/trigger.py
